<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerador de Senhas</title>

  <!-- Link para o arquivo CSS externo -->
  <link rel="stylesheet" href="../app/assets/stylesheets/styles.css">
</head>

<body>
  <!-- Container Principal -->
  <div class="container">
    <h1>Gerador de Senhas</h1>
    <form id="password-form">
      <!-- Input para o comprimento da senha -->
      <div class="input-group">
        <label for="length">Comprimento da Senha</label>
        <input type="number" id="length" min="8" max="64" required>
      </div>

      <!-- Opções de personalização para a senha -->
      <div class="checkbox-group">
        <label><input type="checkbox" id="lowercase"> Minúsculas</label>
        <label><input type="checkbox" id="uppercase"> Maiúsculas</label>
        <label><input type="checkbox" id="digits"> Números</label>
        <label><input type="checkbox" id="symbols"> Símbolos</label>
      </div>

      <!-- Botão para gerar a senha -->
      <button type="submit">Gerar Senha</button>
    </form>

    <!-- Área onde a senha gerada será exibida -->
    <div id="result" class="password"></div>
  </div>

  <!-- Scripts de funcionalidade -->
  <script>
    document.getElementById('password-form').addEventListener('submit', function(event) {
      event.preventDefault();

      // Captura os valores dos campos do formulário
      const length = document.getElementById('length').value;
      const lowercase = document.getElementById('lowercase').checked;
      const uppercase = document.getElementById('uppercase').checked;
      const digits = document.getElementById('digits').checked;
      const symbols = document.getElementById('symbols').checked;

      // Envio da requisição para gerar a senha
      fetch('/passwords', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          length: length,
          lowercase: lowercase,
          uppercase: uppercase,
          digits: digits,
          symbols: symbols
        })
      })
      .then(response => response.json())
      .then(data => {
        // Exibição da senha gerada ou erro
        if (data.password) {
          document.getElementById('result').textContent = `Sua senha gerada é: ${data.password}`;
        } else if (data.error) {
          document.getElementById('result').textContent = `Erro: ${data.error}`;
        }
      })
      .catch(error => {
        // Exibição de erro caso falhe na requisição
        document.getElementById('result').textContent = `Erro ao gerar senha: ${error.message}`;
      });
    });
  </script>
</body>
</html>
